
@font-face {
  font-family: 'WeblySleekUISemibold';
  src: url('WeblySleekUISemibold.eot?#iefix') format('embedded-opentype'),  url('WeblySleekUISemibold.woff') format('woff'), url('WeblySleekUISemibold.ttf')  format('truetype'), url('WeblySleekUISemibold.svg#WeblySleekUISemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
