
@font-face {
  font-family: 'WeblySleekUISemilight';
  src: url('WeblySleekUISemilight.eot?#iefix') format('embedded-opentype'),  url('WeblySleekUISemilight.woff') format('woff'), url('WeblySleekUISemilight.ttf')  format('truetype'), url('WeblySleekUISemilight.svg#WeblySleekUISemilight') format('svg');
  font-weight: normal;
  font-style: normal;
}
